/* Reset CSS */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 101%; }

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

p {
  font-size: 1.2em;
  line-height: 1.0em;
  color: #333; }

/* Color Class */
.color-green {
  color: #99E600; }

.color-purple {
  color: #2B0063; }

/* Effects */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes updown {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -5px);
    transform: translate(0, -5px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeIn {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.fadeOut {
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s; }

.updown {
  -webkit-animation: fadeIn 1s, updown 1s infinite;
  animation: fadeIn 1s, updown 1s infinite; }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

.fast {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.special-slow {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.header-slow {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.middle-slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.ultra-slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.delay-10 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.delay-15 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.delay-20 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.delay-25 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

/* Lockers */
.lock-scroll {
  overflow: hidden;
  height: 100%; }

.lock-header {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  overflow-x: hidden;
  width: 100%; }

/* Header */
.presentacion {
  color: white;
  position: relative; }
  .presentacion::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 180%;
    z-index: -1;
    position: absolute;
    background: url("../img/background_asomic.jpg") center/cover, -webkit-linear-gradient(319.08deg, #320073 6.18%, #0C5F93 39.91%, #2A0061 80.64%);
    background: url("../img/background_asomic.jpg") center/cover, -o-linear-gradient(319.08deg, #320073 6.18%, #0C5F93 39.91%, #2A0061 80.64%);
    background: url("../img/background_asomic.jpg") center/cover, linear-gradient(130.92deg, #320073 6.18%, #0C5F93 39.91%, #2A0061 80.64%);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .presentacion header.main-header {
    width: 100%;
    margin: auto;
    padding: 42px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 87%;
    z-index: 999; }
    .presentacion header.main-header .branding {
      z-index: 100; }
      .presentacion header.main-header .branding a img {
        width: 120px;
        height: auto; }
    .presentacion header.main-header .menu .the-menu {
      display: none; }
      .presentacion header.main-header .menu .the-menu a {
        color: white;
        text-decoration: none;
        font-weight: 600;
        line-height: normal;
        font-size: 17px;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 18px;
        margin-bottom: 18px; }
    .presentacion header.main-header .menu .active-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 40px 23px;
      text-align: center;
      background: -webkit-linear-gradient(177.53deg, #090014 -34.62%, #410C87 115.2%);
      background: -o-linear-gradient(177.53deg, #090014 -34.62%, #410C87 115.2%);
      background: linear-gradient(272.47deg, #090014 -34.62%, #410C87 115.2%); }
      .presentacion header.main-header .menu .active-menu a {
        width: 100%;
        display: inline-block; }
    .presentacion header.main-header .menu .hamburger {
      padding: 0; }
      .presentacion header.main-header .menu .hamburger .hamburger-box .hamburger-inner {
        background: #E5E5E5;
        height: 3px;
        border-radius: 1px; }
        .presentacion header.main-header .menu .hamburger .hamburger-box .hamburger-inner::after, .presentacion header.main-header .menu .hamburger .hamburger-box .hamburger-inner::before {
          background: #E5E5E5;
          height: 3px;
          border-radius: 1px; }
    .presentacion header.main-header .rrss {
      display: none; }
      .presentacion header.main-header .rrss a {
        margin: 0 14px; }
        .presentacion header.main-header .rrss a img {
          width: 20px; }
    .presentacion header.main-header .active-rrss {
      z-index: 100;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%;
      left: 0;
      right: 0;
      position: fixed;
      bottom: 7%;
      text-align: center; }
  .presentacion .intro-message {
    padding: 70px 23px 60px 0;
    margin: auto;
    max-width: 76.5%; }
    .presentacion .intro-message h1 {
      font-weight: 600;
      line-height: 35px;
      font-size: 27px;
      letter-spacing: 0.03em; }
  .presentacion .godown {
    padding: 20px 28px 40px;
    text-align: right;
    cursor: pointer; }

@media (min-width: 768px) {
  .presentacion::after {
    height: 175%; }
  .presentacion header.main-header {
    padding: 52px 0;
    margin: auto;
    max-width: 89%; }
    .presentacion header.main-header .branding a img {
      width: 130px; }
    .presentacion header.main-header .menu .active-menu {
      padding: 40px 40px; }
  .presentacion .intro-message {
    padding: 90px 0 75px 0;
    max-width: 81%;
    margin: auto; }
    .presentacion .intro-message h1 {
      font-size: 30px;
      line-height: 42px; }
  .presentacion .godown {
    padding: 20px 40px 40px; } }

@media (min-width: 900px) {
  .presentacion::after {
    height: 160%; }
  .presentacion header.main-header {
    padding: 58px 0;
    max-width: 90%; }
    .presentacion header.main-header .branding a img {
      width: 130px; }
  .presentacion .intro-message {
    max-width: 78.5%;
    padding: 75px 0 64px 0; }
    .presentacion .intro-message h1 {
      font-size: 34px;
      line-height: 46px; }
  .presentacion .godown {
    padding: 20px 0 40px;
    margin: auto;
    max-width: 78.5%; } }

@media (min-width: 1200px) {
  .presentacion header.main-header {
    padding: 60px 0 60px;
    max-width: 87%; }
    .presentacion header.main-header .branding a img {
      width: 120px; }
    .presentacion header.main-header .menu .the-menu {
      display: inherit; }
      .presentacion header.main-header .menu .the-menu a {
        font-size: 14px;
        margin: 0 28px;
        text-align: center;
        letter-spacing: 0.09em;
        font-weight: 400;
        border-bottom: solid 1px transparent;
        -webkit-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        padding-bottom: 3px; }
        .presentacion header.main-header .menu .the-menu a:hover, .presentacion header.main-header .menu .the-menu a:focus {
          border-bottom: solid 1px white; }
    .presentacion header.main-header .menu .hamburger {
      display: none; }
    .presentacion header.main-header .rrss {
      display: inherit; }
      .presentacion header.main-header .rrss a {
        margin-left: 10px; }
        .presentacion header.main-header .rrss a:last-child {
          margin-right: 0; }
        .presentacion header.main-header .rrss a img {
          width: 18px; }
  .presentacion .intro-message {
    margin: auto;
    max-width: 76%;
    padding: 110px 0 80px; }
    .presentacion .intro-message h1 {
      line-height: 50px;
      font-size: 36px;
      letter-spacing: 0.03em; } }

@media (min-width: 1400px) {
  .presentacion::after {
    height: 170%; }
  .presentacion header.main-header {
    margin: auto;
    max-width: 86%;
    padding: 74px 0 60px; }
    .presentacion header.main-header .branding a img {
      width: 130px; }
    .presentacion header.main-header .menu .the-menu a {
      font-size: 15px;
      margin: 0 32px; }
    .presentacion header.main-header .rrss a {
      margin-left: 14px; }
      .presentacion header.main-header .rrss a img {
        width: 20px; }
  .presentacion .intro-message {
    max-width: 80%;
    padding: 125px 60px 100px 60px; }
    .presentacion .intro-message h1 {
      line-height: 53px;
      font-size: 40px;
      letter-spacing: 0.03em; }
  .presentacion .godown {
    margin: auto;
    max-width: 80%;
    padding: 20px 0 40px; } }

@media (min-width: 1600px) {
  .presentacion::after {
    height: 160%; }
  .presentacion header.main-header {
    margin: auto;
    max-width: 83%;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0; }
    .presentacion header.main-header .branding a img {
      width: 150px; }
    .presentacion header.main-header .menu .the-menu a {
      font-size: 17px; }
    .presentacion header.main-header .rrss a img {
      width: 22px; }
  .presentacion .intro-message {
    max-width: 76.5%;
    padding-top: 140px;
    padding-bottom: 135px;
    padding-left: 80px;
    padding-right: 80px; }
    .presentacion .intro-message h1 {
      line-height: 60px;
      font-size: 43px;
      letter-spacing: 0.03em; }
  .presentacion .godown {
    margin: auto;
    padding: 20px 80px 40px;
    max-width: 80%; } }

@media (min-width: 1900px) {
  .presentacion header.main-header {
    padding-top: 84px;
    padding-bottom: 80px;
    max-width: 76%; }
    .presentacion header.main-header .menu .the-menu a {
      margin: 0 34px; }
    .presentacion header.main-header .rrss a img {
      width: 22px; }
  .presentacion .intro-message {
    max-width: 71.5%;
    padding-top: 160px;
    padding-bottom: 170px; }
    .presentacion .intro-message h1 {
      font-size: 46px;
      line-height: 62px; } }

/* Contenido */
.quienes-somos-wrapper .quienes-somos {
  background: -webkit-linear-gradient(150.8deg, #090014 1.88%, #410C87 98.18%);
  background: -o-linear-gradient(150.8deg, #090014 1.88%, #410C87 98.18%);
  background: linear-gradient(299.2deg, #090014 1.88%, #410C87 98.18%);
  border-radius: 5px 0 0 5px;
  color: white;
  margin: auto;
  margin-right: 0;
  max-width: 89%; }
  .quienes-somos-wrapper .quienes-somos .texto {
    padding: 62px 60px 62px 41px; }
    .quienes-somos-wrapper .quienes-somos .texto h6 {
      color: #E5E5E5;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 16px;
      font-size: 11px;
      letter-spacing: 0.2em;
      margin-bottom: 129px; }
    .quienes-somos-wrapper .quienes-somos .texto h3 {
      font-weight: 600;
      line-height: 30px;
      font-size: 22px; }
  .quienes-somos-wrapper .quienes-somos .img {
    display: none; }

@media (min-width: 768px) {
  .quienes-somos-wrapper .quienes-somos {
    margin-right: 0;
    display: -ms-grid;
    display: grid;
    max-width: 90.5%;
    -ms-grid-columns: 1fr 0.8fr;
    grid-template-columns: 1fr 0.8fr;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 62px 68px 62px 54px; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        font-size: 22px;
        line-height: 30px; }
        .quienes-somos-wrapper .quienes-somos .texto h3 span {
          cursor: pointer; }
    .quienes-somos-wrapper .quienes-somos .img {
      display: inherit;
      height: 100%;
      background: black;
      background-image: url("../img/quienes-somos.jpg");
      background-position: center;
      background-size: cover;
      position: relative;
      -webkit-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      transition: all ease 0.2s; } }

@media (min-width: 900px) {
  .quienes-somos-wrapper .quienes-somos {
    margin-right: 0;
    max-width: 89.5%; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 62px 60px 62px 60px; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        font-size: 24px;
        line-height: 34px;
        width: 90%; } }

@media (min-width: 1200px) {
  .quienes-somos-wrapper .quienes-somos {
    max-width: 88%;
    margin-right: 0;
    -ms-grid-columns: 1fr 0.9fr;
    grid-template-columns: 1fr 0.9fr; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 62px 60px 62px 76px; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        font-size: 24px;
        line-height: 34px;
        width: 70%; } }

@media (min-width: 1400px) {
  .quienes-somos-wrapper .quienes-somos {
    margin-right: 0;
    max-width: 86%; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 62px 120px 62px 90px; }
      .quienes-somos-wrapper .quienes-somos .texto h6 {
        font-size: 12px;
        letter-spacing: 0.3em;
        margin-bottom: 190px; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        line-height: 36px;
        font-size: 26px; } }

@media (min-width: 1600px) {
  .quienes-somos-wrapper .quienes-somos {
    -ms-grid-columns: 1fr 0.75fr;
    grid-template-columns: 1fr 0.75fr;
    margin-right: 0;
    max-width: 84%; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 62px 120px 62px 100px; }
      .quienes-somos-wrapper .quienes-somos .texto h6 {
        font-size: 13px;
        margin-bottom: 200px; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        width: 56%;
        font-size: 28px;
        line-height: 38px; } }

@media (min-width: 1900px) {
  .quienes-somos-wrapper .quienes-somos {
    max-width: 82%; }
    .quienes-somos-wrapper .quienes-somos .texto {
      padding: 74px 120px 74px 100px; }
      .quienes-somos-wrapper .quienes-somos .texto h6 {
        font-size: 14px;
        letter-spacing: 0.25em; }
      .quienes-somos-wrapper .quienes-somos .texto h3 {
        line-height: 40px;
        font-size: 29px; } }

/* Servicios */
.servicios {
  padding: 67px 23px 78px 0;
  margin: auto;
  max-width: 76%; }
  .servicios h6.light-title {
    font-weight: 800;
    line-height: 16px;
    font-size: 11px;
    color: #9D9D9D;
    margin-bottom: 26px;
    text-transform: uppercase;
    letter-spacing: 0.4em; }
  .servicios .contenido h2 {
    font-weight: bold;
    line-height: normal;
    font-size: 28px;
    width: 100%;
    color: #2B0063;
    margin-bottom: 54px; }
  .servicios .contenido .items-servicios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 54px; }
    .servicios .contenido .items-servicios .item img {
      margin-bottom: 16px;
      height: 60px; }
    .servicios .contenido .items-servicios .item h4 {
      font-weight: 600;
      line-height: normal;
      font-size: 20px;
      color: #2B0063; }

@media (min-width: 768px) {
  .servicios {
    padding: 100px 0 140px 0;
    display: -ms-grid;
    display: grid;
    max-width: 81%;
    -ms-grid-columns: 10px 1fr;
    grid-template-columns: 10px 1fr; }
    .servicios h6.light-title {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      margin-top: 84px;
      margin-bottom: 0;
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start; }
    .servicios .contenido {
      padding-left: 44px; }
      .servicios .contenido h2 {
        font-size: 30px; }
      .servicios .contenido .items-servicios {
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px; }
        .servicios .contenido .items-servicios .item {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 44px 1fr;
          grid-template-columns: 44px 1fr; }
          .servicios .contenido .items-servicios .item img {
            margin-bottom: 0; }
          .servicios .contenido .items-servicios .item h4 {
            padding-left: 16px;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center; } }

@media (min-width: 900px) {
  .servicios {
    padding: 100px 0 146px 0;
    max-width: 78.5%; }
    .servicios .contenido {
      padding-left: 54px; }
      .servicios .contenido h2 {
        font-size: 36px;
        line-height: 50px;
        width: 80%; }
      .servicios .contenido .items-servicios {
        grid-column-gap: 20px;
        grid-row-gap: 46px; }
        .servicios .contenido .items-servicios .item {
          -ms-grid-columns: 60px 1fr;
          grid-template-columns: 60px 1fr; } }

@media (min-width: 1200px) {
  .servicios {
    padding: 110px 0 152px 0;
    margin: auto;
    max-width: 76%; }
    .servicios .contenido {
      padding-left: 65px; }
      .servicios .contenido .items-servicios {
        grid-column-gap: 0px; } }

@media (min-width: 1400px) {
  .servicios {
    padding: 130px 0 172px 0;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 80%; }
    .servicios .contenido {
      padding-left: 76px; }
      .servicios .contenido h2 {
        font-size: 38px;
        line-height: 52px;
        width: 76%;
        margin-bottom: 74px; }
      .servicios .contenido .items-servicios .item {
        -ms-grid-columns: 64px 1fr;
        grid-template-columns: 64px 1fr; } }

@media (min-width: 1600px) {
  .servicios {
    margin: auto;
    max-width: 77%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 140px;
    padding-bottom: 182px; }
    .servicios .contenido {
      padding-left: 92px; }
      .servicios .contenido h2 {
        font-size: 40px;
        line-height: 56px; }
      .servicios .contenido .items-servicios .item {
        -ms-grid-columns: 68px 1fr;
        grid-template-columns: 68px 1fr; }
        .servicios .contenido .items-servicios .item img {
          height: 70px; }
        .servicios .contenido .items-servicios .item h4 {
          padding-left: 22px;
          font-size: 24px; } }

@media (min-width: 1900px) {
  .servicios {
    max-width: 72%;
    padding-top: 140px;
    padding-bottom: 182px; }
    .servicios .contenido h2 {
      font-size: 43px;
      line-height: 61px; }
    .servicios .contenido .items-servicios .item h4 {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      font-size: 25px; } }

/* Filosofia */
.filosofia {
  background: -webkit-linear-gradient(165.92deg, #090014 1.88%, #410C87 98.18%);
  background: -o-linear-gradient(165.92deg, #090014 1.88%, #410C87 98.18%);
  background: linear-gradient(284.08deg, #090014 1.88%, #410C87 98.18%);
  color: white;
  width: 100%; }
  .filosofia .data {
    padding: 62px 43px 62px 12%; }
    .filosofia .data h6 {
      font-weight: 800;
      line-height: 16px;
      font-size: 11px;
      color: #E5E5E5;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 170px; }
    .filosofia .data h3 {
      font-weight: 600;
      line-height: 34px;
      font-size: 25px; }

@media (min-width: 768px) {
  .filosofia {
    padding: 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.8fr;
    grid-template-columns: 1fr 0.8fr;
    position: relative; }
    .filosofia .data {
      padding: 62px 60px 62px 17%; }
      .filosofia .data h3 {
        font-size: 22px;
        line-height: 30px; }
    .filosofia .img {
      height: 100%;
      border-radius: 4px 0 0 4px;
      background: black;
      background-image: url("../img/filosofia.jpg");
      background-position: center;
      background-size: cover;
      position: relative;
      top: -40px; } }

@media (min-width: 900px) {
  .filosofia .data {
    padding: 66px 60px 66px 19%; }
    .filosofia .data h3 {
      font-size: 24px;
      line-height: 34px;
      width: 80%; } }

@media (min-width: 1200px) {
  .filosofia .data {
    padding: 66px 60px 66px 22.5%; }
    .filosofia .data h3 {
      font-size: 24px;
      line-height: 34px; } }

@media (min-width: 1400px) {
  .filosofia {
    margin: auto; }
    .filosofia .data {
      padding: 80px 60px 72px 26%; }
      .filosofia .data h6 {
        font-size: 12px;
        margin-bottom: 190px; }
      .filosofia .data h3 {
        line-height: 36px;
        font-size: 26px; } }

@media (min-width: 1600px) {
  .filosofia .data {
    padding: 82px 60px 76px 29%; }
    .filosofia .data h6 {
      font-size: 13px;
      margin-bottom: 200px; }
    .filosofia .data h3 {
      font-size: 28px;
      line-height: 38px; } }

@media (min-width: 1900px) {
  .filosofia {
    margin: auto; }
    .filosofia .data {
      padding: 88px 120px 80px 32.5%; }
      .filosofia .data h6 {
        font-size: 14px;
        letter-spacing: 0.25em; }
      .filosofia .data h3 {
        line-height: 40px;
        font-size: 29px; } }

/* Productos */
.productos {
  padding: 76px 0 30px 0;
  margin: auto;
  max-width: 78%; }
  .productos .light-title {
    font-weight: 800;
    line-height: 16px;
    font-size: 11px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #9D9D9D;
    margin-bottom: 22px; }
  .productos .contenido h2 {
    width: 94%;
    color: #2B0063;
    font-weight: bold;
    line-height: normal;
    font-size: 28px; }
  .productos .contenido .items-productos {
    margin-top: 56px; }
    .productos .contenido .items-productos .item {
      margin-bottom: 49px; }
      .productos .contenido .items-productos .item .img {
        border-radius: 4px;
        width: 100%;
        height: 185px;
        margin-bottom: 27px;
        background: -webkit-linear-gradient(357.19deg, #070A58 1.17%, #083A77 96.68%);
        background: -o-linear-gradient(357.19deg, #070A58 1.17%, #083A77 96.68%);
        background: linear-gradient(92.81deg, #070A58 1.17%, #083A77 96.68%);
        -webkit-transition: all ease 0.3s;
        -o-transition: all ease 0.3s;
        transition: all ease 0.3s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; }
        .productos .contenido .items-productos .item .img:hover, .productos .contenido .items-productos .item .img:focus {
          -webkit-transform: translate(0, -4px);
          -ms-transform: translate(0, -4px);
          transform: translate(0, -4px); }
      .productos .contenido .items-productos .item .data {
        margin-left: 4px; }
        .productos .contenido .items-productos .item .data h6 {
          font-weight: 800;
          text-transform: uppercase;
          font-size: 11px;
          color: #9D9D9D;
          letter-spacing: 0.2em;
          margin-bottom: 15px; }
        .productos .contenido .items-productos .item .data h4 {
          font-size: 24px;
          line-height: 30px;
          font-weight: bold;
          width: 70%; }

@media (min-width: 768px) {
  .productos {
    padding: 90px 0 90px 0;
    display: -ms-grid;
    display: grid;
    max-width: 81%;
    -ms-grid-columns: 10px 1fr;
    grid-template-columns: 10px 1fr; }
    .productos .light-title {
      -webkit-transform: rotate(-90deg) translate(11px, -143px);
      -ms-transform: rotate(-90deg) translate(11px, -143px);
      transform: rotate(-90deg) translate(11px, -143px);
      width: 300px;
      margin-top: 84px;
      margin-bottom: 0;
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start; }
    .productos .contenido {
      padding-left: 44px; }
      .productos .contenido h2 {
        font-size: 30px;
        width: 90%; }
      .productos .contenido .items-productos .item {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0.45fr;
        grid-template-columns: 1fr 0.45fr;
        grid-column-gap: 30px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 28px; }
        .productos .contenido .items-productos .item:last-child {
          margin-bottom: 0; }
        .productos .contenido .items-productos .item .img {
          height: 250px;
          margin-bottom: 0; }
        .productos .contenido .items-productos .item .data h4 {
          font-size: 24px;
          width: 80%;
          line-height: 30px; } }

@media (min-width: 900px) {
  .productos {
    max-width: 78.5%; }
    .productos .contenido {
      padding-left: 54px; }
      .productos .contenido h2 {
        font-size: 36px;
        line-height: 50px;
        width: 70%; }
      .productos .contenido .items-productos {
        width: 90%; }
        .productos .contenido .items-productos .item {
          grid-column-gap: 36px; }
          .productos .contenido .items-productos .item .img {
            height: 330px; }
          .productos .contenido .items-productos .item .data h4 {
            font-size: 28px;
            line-height: 34px; } }

@media (min-width: 1200px) {
  .productos {
    margin: auto;
    max-width: 76%; }
    .productos .contenido {
      padding-left: 65px; }
      .productos .contenido .items-productos {
        width: 88%; }
        .productos .contenido .items-productos .item {
          grid-column-gap: 40px;
          margin-bottom: 34px; }
          .productos .contenido .items-productos .item .img {
            height: 350px; } }

@media (min-width: 1400px) {
  .productos {
    max-width: 80%;
    padding-left: 60px;
    padding-right: 60px; }
    .productos .contenido {
      padding-left: 76px; }
      .productos .contenido h2 {
        font-size: 38px;
        line-height: 52px;
        width: 100%;
        max-width: 670px;
        margin-bottom: 62px; }
      .productos .contenido .items-productos .item {
        -ms-grid-columns: 1fr 0.45fr;
        grid-template-columns: 1fr 0.45fr; } }

@media (min-width: 1600px) {
  .productos {
    max-width: 77%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 116px; }
    .productos .contenido {
      padding-left: 92px; }
      .productos .contenido h2 {
        font-size: 40px;
        line-height: 56px; } }

@media (min-width: 1900px) {
  .productos {
    max-width: 72%;
    padding-top: 130px;
    padding-bottom: 122px; }
    .productos .contenido h2 {
      font-size: 43px;
      line-height: 61px;
      margin-bottom: 72px; }
    .productos .contenido .items-productos .item .img {
      height: 410px; }
    .productos .contenido .items-productos .item .data h4 {
      font-size: 32px;
      line-height: 38px; } }

/* Footer */
.site-footer-wrapper {
  background: -webkit-linear-gradient(174.83deg, #090014 1.88%, #410C87 98.18%);
  background: -o-linear-gradient(174.83deg, #090014 1.88%, #410C87 98.18%);
  background: linear-gradient(275.17deg, #090014 1.88%, #410C87 98.18%); }
  .site-footer-wrapper .site-footer {
    padding: 62px 0 62px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-width: 87%; }
    .site-footer-wrapper .site-footer .contacto {
      color: white; }
      .site-footer-wrapper .site-footer .contacto .texto {
        margin-bottom: 65px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: justify;
        align-content: space-between; }
        .site-footer-wrapper .site-footer .contacto .texto h6 {
          font-weight: 800;
          font-size: 12px;
          letter-spacing: 0.3em;
          margin-bottom: 190px;
          color: #E5E5E5;
          text-transform: uppercase;
          margin-bottom: 130px;
          width: 100%; }
        .site-footer-wrapper .site-footer .contacto .texto h3 {
          width: 90%;
          -ms-flex-item-align: end;
          -ms-grid-row-align: end;
          align-self: end;
          font-weight: 600;
          line-height: 34px;
          font-size: 25px; }
          .site-footer-wrapper .site-footer .contacto .texto h3 a {
            color: #99E600;
            text-decoration: none; }
      .site-footer-wrapper .site-footer .contacto .formulario {
        padding-bottom: 52px; }
        .site-footer-wrapper .site-footer .contacto .formulario form input, .site-footer-wrapper .site-footer .contacto .formulario form textarea {
          border: 0.75px solid rgba(255, 255, 255, 0.7);
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s;
          border-radius: 2px;
          color: white;
          background: transparent; }
          .site-footer-wrapper .site-footer .contacto .formulario form input:focus, .site-footer-wrapper .site-footer .contacto .formulario form textarea:focus {
            border: 0.75px solid #99E600;
            outline: none; }
        .site-footer-wrapper .site-footer .contacto .formulario form input {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          padding: 12px 13px;
          font-size: 16px;
          margin-bottom: 17px; }
        .site-footer-wrapper .site-footer .contacto .formulario form textarea {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Encode Sans Semi Condensed', sans-serif;
          width: 100%;
          padding: 12px 13px;
          font-size: 16px;
          margin-bottom: 17px; }
        .site-footer-wrapper .site-footer .contacto .formulario form button {
          width: 100%;
          background: white;
          font-weight: 600;
          line-height: 17px;
          font-size: 12px;
          outline: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border: none;
          text-transform: uppercase;
          color: #2B0063;
          text-align: center;
          letter-spacing: 0.1em;
          border-radius: 3px;
          padding: 12px 0;
          cursor: pointer;
          -webkit-transition: all ease 0.3s;
          -o-transition: all ease 0.3s;
          transition: all ease 0.3s; }
          .site-footer-wrapper .site-footer .contacto .formulario form button:hover, .site-footer-wrapper .site-footer .contacto .formulario form button:focus {
            background: #99E600; }
    .site-footer-wrapper .site-footer .disclaimer {
      display: -ms-grid;
      display: grid;
      border-top: solid 1px #463C53;
      text-align: center;
      padding: 42px 0 6px; }
      .site-footer-wrapper .site-footer .disclaimer .brand {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
        .site-footer-wrapper .site-footer .disclaimer .brand img {
          width: 120px;
          height: auto;
          margin-bottom: 36px; }
      .site-footer-wrapper .site-footer .disclaimer .copy {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; }
        .site-footer-wrapper .site-footer .disclaimer .copy p {
          color: #E5E5E5; }
      .site-footer-wrapper .site-footer .disclaimer .rrss {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 40px; }
        .site-footer-wrapper .site-footer .disclaimer .rrss a img {
          width: 22px;
          margin-left: 15px;
          margin-right: 15px; }

@media (min-width: 768px) {
  .site-footer-wrapper .site-footer {
    max-width: 89%;
    padding: 0; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 62px 0 62px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 0.9fr;
      grid-template-columns: 1fr 0.9fr; }
      .site-footer-wrapper .site-footer .contacto .texto {
        padding-right: 40px;
        margin-bottom: 0; }
        .site-footer-wrapper .site-footer .contacto .texto h6 {
          margin-bottom: 0; }
        .site-footer-wrapper .site-footer .contacto .texto h3 {
          font-size: 22px;
          line-height: 30px; }
      .site-footer-wrapper .site-footer .contacto .formulario {
        padding-bottom: 0; }
        .site-footer-wrapper .site-footer .contacto .formulario form textarea {
          height: 140px; }
    .site-footer-wrapper .site-footer .disclaimer {
      padding: 42px 0 42px;
      -ms-grid-columns: 1fr 1.5fr 1fr;
      grid-template-columns: 1fr 1.5fr 1fr;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      text-align: inherit;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .site-footer-wrapper .site-footer .disclaimer .brand {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
        .site-footer-wrapper .site-footer .disclaimer .brand img {
          width: 112px;
          margin-bottom: 0; }
      .site-footer-wrapper .site-footer .disclaimer .copy {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: center; }
        .site-footer-wrapper .site-footer .disclaimer .copy p {
          font-size: 13px; }
      .site-footer-wrapper .site-footer .disclaimer .rrss {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-bottom: 0;
        text-align: right; }
        .site-footer-wrapper .site-footer .disclaimer .rrss a img {
          width: 21px;
          margin-left: 19px;
          margin-right: 0; } }

@media (min-width: 900px) {
  .site-footer-wrapper .site-footer {
    max-width: 90%; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 62px 0 62px;
      -ms-grid-columns: 1fr 0.8fr;
      grid-template-columns: 1fr 0.8fr; }
      .site-footer-wrapper .site-footer .contacto .texto h3 {
        font-size: 24px;
        line-height: 34px; }
    .site-footer-wrapper .site-footer .disclaimer {
      padding: 42px 0 42px; }
      .site-footer-wrapper .site-footer .disclaimer .brand img {
        width: 110px; }
      .site-footer-wrapper .site-footer .disclaimer .copy p {
        font-size: 12px; }
      .site-footer-wrapper .site-footer .disclaimer .rrss a img {
        width: 19px;
        margin-left: 22px; } }

@media (min-width: 1200px) {
  .site-footer-wrapper .site-footer {
    max-width: 87%;
    padding: 0; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 68px 0 60px; }
      .site-footer-wrapper .site-footer .contacto .texto h3 {
        width: 70%;
        font-size: 24px;
        line-height: 34px; }
      .site-footer-wrapper .site-footer .contacto .formulario form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .site-footer-wrapper .site-footer .contacto .formulario form input {
          width: 100%; }
          .site-footer-wrapper .site-footer .contacto .formulario form input:nth-child(-n+2) {
            width: 49%; }
        .site-footer-wrapper .site-footer .contacto .formulario form textarea {
          width: 100%; }
        .site-footer-wrapper .site-footer .contacto .formulario form button {
          width: 100%; }
    .site-footer-wrapper .site-footer .disclaimer {
      padding: 42px 0; }
      .site-footer-wrapper .site-footer .disclaimer .copy p {
        font-size: 13px; } }

@media (min-width: 1400px) {
  .site-footer-wrapper .site-footer {
    max-width: 86%;
    padding: 0 60px; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 82px 0 70px; }
      .site-footer-wrapper .site-footer .contacto .texto h3 {
        max-width: 360px;
        line-height: 36px;
        font-size: 26px; }
    .site-footer-wrapper .site-footer .disclaimer {
      padding: 42px 0 50px; }
      .site-footer-wrapper .site-footer .disclaimer .brand img {
        width: 120px; } }

@media (min-width: 1600px) {
  .site-footer-wrapper .site-footer {
    width: 100%;
    padding: 0;
    max-width: 83%; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 96px 0 74px; }
      .site-footer-wrapper .site-footer .contacto .texto h6 {
        font-size: 13px; }
      .site-footer-wrapper .site-footer .contacto .texto h3 {
        width: 56%;
        font-size: 28px;
        line-height: 38px; }
    .site-footer-wrapper .site-footer .disclaimer {
      padding: 46px 0 42px 0; }
      .site-footer-wrapper .site-footer .disclaimer .copy p {
        font-size: 14px; }
      .site-footer-wrapper .site-footer .disclaimer .rrss a img {
        width: 23px; } }

@media (min-width: 1900px) {
  .site-footer-wrapper .site-footer {
    max-width: 76%; }
    .site-footer-wrapper .site-footer .contacto {
      padding: 100px 0 86px; }
    .site-footer-wrapper .site-footer .disclaimer .brand img {
      width: 130px; } }
